body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .mobile-menu {
  display: none;
  position: absolute;
  z-index: -1;
  background-color: black;
  height: 100%;
  width: 100%;
}

header .mobile-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .mobile-menu div .logo {
  height: 32px;
  width: 192px;
  margin: 35px 0 35px 35px;
  background-image: url(../images/logores2.png);
}

header .mobile-menu div .close-btn {
  height: 20px;
  width: 20px;
  margin: 35px 35px 35px 0;
  background-image: url(../images/icon-close.svg);
  cursor: pointer;
}

header .mobile-menu .mobile-links {
  display: none;
  height: 100%;
  width: 100%;
  margin-top: 50%;
}

header .mobile-menu .mobile-links li {
  margin-top: 20px;
}

header .mobile-menu .mobile-links li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  font-family: "Josefin Sans";
}

header .mobile-menu .mobile-links li a:hover {
  color: #8c8c8c;
}

header .hero {
  height: 730px;
  width: 100%;
  min-width: 320px;
  background-image: url(../images/mobile/image-hero.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}

header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: auto;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-bar .bar-name {
  height: 32px;
  width: 192px;
  margin: 25px 0 25px 45px;
  background-image: url(../images/logo.svg);
}

header .nav-bar .burguer {
  margin: 35px 35px 35px 0;
  cursor: pointer;
}

header .nav-bar .burguer span {
  height: 2px;
  width: 25px;
  background-color: white;
  display: block;
  margin-bottom: 5px;
}

header .nav-links {
  display: none;
}

header .nav-box {
  width: 320px;
  height: 200px;
  margin: 155px auto;
  border: 2px solid white;
}

header .nav-box h1 {
  color: white;
  margin: 0;
  padding: 20px;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  font-family: "Josefin Sans";
}

@media (min-width: 640px) {
  header .hero {
    height: 330px;
    width: 100%;
    min-width: 720px;
    background-image: url(../images/desktop/image-hero-ipad.jpg);
  }
  header .burguer {
    display: none;
  }
  header .nav-links {
    display: block;
    margin: 25px 35px 0 0;
  }
  header .nav-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .nav-links ul li {
    display: block;
    list-style: none;
    padding-bottom: 5px;
    margin: 0 10px;
  }
  header .nav-links ul li a {
    display: block;
    text-decoration: none;
    font-size: .8rem;
    font-family: "Alata";
    color: white;
  }
  header .nav-links ul li:hover {
    border-bottom: 2px solid white;
  }
  header .nav-box {
    width: 350px;
    height: 150px;
    margin: 20px 0px 0px 45px;
  }
}

main .interactive-section .interactive {
  height: 225px;
  width: 325px;
  margin: 360px auto 40px auto;
  background-image: url(../images/mobile/image-interactive.jpg);
  -o-object-fit: cover;
     object-fit: cover;
}

main .interactive-section .leader h2 {
  margin: auto;
  font-size: 2rem;
  font-weight: 300;
  font-family: "Josefin Sans";
  line-height: 2rem;
  text-align: center;
}

main .interactive-section .leader p {
  margin: auto 60px;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Alata";
  line-height: 1.8rem;
  text-align: center;
  color: #8c8c8c;
}

@media (min-width: 640px) {
  main .interactive-section {
    margin-bottom: 150px;
  }
  main .interactive-section .interactive {
    height: 250px;
    width: 365px;
    background-image: url(../images/desktop/image-interactive.jpg);
    position: relative;
    z-index: -1;
    margin: 100px 0px 40px 45px;
  }
  main .interactive-section .leader {
    height: 250px;
    width: 300px;
    background-color: white;
    position: absolute;
    bottom: 30%;
    left: 43%;
  }
  main .interactive-section .leader h2 {
    text-align: center;
    width: 300px;
    padding: 60px 0px 5px 40px;
  }
  main .interactive-section .leader p {
    margin: auto;
    width: 320px;
    text-align: justify;
    font-size: .6rem;
    line-height: 1.5rem;
    padding: 5px 0px 0px 60px;
  }
}

main .creations-section h2 {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Josefin Sans";
  margin: 90px auto 40px auto;
  text-align: center;
}

main .creations-section .our-creations-mobile div {
  height: 120px;
  width: 327px;
  margin: 30px auto;
  -webkit-box-shadow: inset 0px 0px 70px 0px black;
          box-shadow: inset 0px 0px 70px 0px black;
  cursor: pointer;
}

main .creations-section .our-creations-mobile div h3 {
  color: white;
  width: 130px;
  font-size: 1.5rem;
  padding: 40px 20px;
}

main .creations-section .our-creations-mobile .deep-earth {
  background-image: url(../images/mobile/image-deep-earth.jpg);
  -o-object-fit: cover;
     object-fit: cover;
}

main .creations-section .our-creations-mobile .night-arcade {
  background-image: url(../images/mobile/image-night-arcade.jpg);
}

main .creations-section .our-creations-mobile .soccer-team {
  background-image: url(../images/mobile/image-soccer-team.jpg);
}

main .creations-section .our-creations-mobile .grid {
  background-image: url(../images/mobile/image-grid.jpg);
}

main .creations-section .our-creations-mobile .up-above {
  background-image: url(../images/mobile/image-from-above.jpg);
}

main .creations-section .our-creations-mobile .pocket-boreals {
  background-image: url(../images/mobile/image-pocket-borealis.jpg);
}

main .creations-section .our-creations-mobile .curiosity {
  background-image: url(../images/mobile/image-curiosity.jpg);
}

main .creations-section .our-creations-mobile .fisheye {
  background-image: url(../images/mobile/image-fisheye.jpg);
}

main .creations-section .our-creations {
  display: none;
}

main .creations-section .our-creations .img-container {
  position: relative;
  height: 225px;
  width: 130px;
  margin: 30px 0;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 10px 60px 0px black;
          box-shadow: inset 0px 10px 60px 0px black;
}

main .creations-section .our-creations .img-container img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -2;
}

main .creations-section .our-creations .img-container .middle {
  position: absolute;
  top: 80%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: start;
}

main .creations-section .our-creations .img-container .middle .img-text {
  font-size: 1.5rem;
  font-family: "Josefin Sans";
  font-weight: 300;
  line-height: 1.5rem;
  color: white;
  width: 130px;
  padding: 40px 20px;
}

main .creations-section .our-creations .img-container:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .creations-section .our-creations .img-container:hover img {
  opacity: 0.3;
}

main .creations-section .our-creations .img-container:hover .middle {
  opacity: 1;
}

main .creations-section .our-creations .img-container:hover .middle .img-text {
  color: black;
}

main .creations-section .section-button {
  width: 190px;
  height: 50px;
  border: 1px solid black;
  margin: 10px calc(50% - 100px);
  font-size: 1rem;
  font-family: "Alata";
  font-weight: 200;
  letter-spacing: .5rem;
  cursor: pointer;
}

main .creations-section .section-button:hover {
  background-color: black;
  color: white;
}

@media (min-width: 640px) {
  main .creations-section {
    margin-left: 45px;
  }
  main .creations-section h2 {
    text-align: start;
  }
  main .creations-section .our-creations-mobile {
    display: none;
  }
  main .creations-section .our-creations {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (180px)[4];
        grid-template-columns: repeat(4, 180px);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

footer {
  height: 450px;
  background-color: black;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer-logo {
  height: 32px;
  width: 192px;
  background-image: url(../images/logo.svg);
}

footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-links span {
  font-size: 1rem;
  font-family: "Alata";
  color: white;
  margin: 10px;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

footer .social .facebook {
  height: 24px;
  width: 24px;
  margin: 0 10px;
  background-image: url(../images/icon-facebook.svg);
}

footer .social .twitter {
  height: 20px;
  width: 24px;
  margin: 0 10px;
  background-image: url(../images/icon-twitter.svg);
}

footer .social .pinterest {
  height: 24px;
  width: 24px;
  margin: 0 10px;
  background-image: url(../images/icon-pinterest.svg);
}

footer .social .instagram {
  height: 24px;
  width: 24px;
  margin: 0 10px;
  background-image: url(../images/icon-instagram.svg);
}

footer .rights {
  max-width: 100%;
  margin: 20px calc(50% - 180px);
  color: #8c8c8c;
  font-size: 1rem;
  font-family: "Alata";
  text-align: center;
}
/*# sourceMappingURL=style.css.map */