body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .mobile-menu {
  display: none;
  position: absolute;
  z-index: -1;
  background-color: black;
  height: 100vh;
  width: 100%;
}

header .mobile-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .mobile-menu div .logo {
  height: 32px;
  width: 192px;
  margin: 35px 0 35px 35px;
  background-image: url(../images/logores2.png);
}

header .mobile-menu div .close-btn {
  height: 20px;
  width: 20px;
  margin: 35px 35px 35px 0;
  background-image: url(../images/icon-close.svg);
  cursor: pointer;
}

header .mobile-menu .mobile-links {
  display: none;
  height: 100%;
  width: 100%;
  margin-top: 50%;
}

header .mobile-menu .mobile-links li {
  margin-top: 20px;
}

header .mobile-menu .mobile-links li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  font-family: "Josefin Sans";
}

header .mobile-menu .mobile-links li a:hover {
  color: #8c8c8c;
}

header .hero {
  height: 730px;
  width: 100%;
  min-width: 320px;
  background-image: url(../images/mobile/image-hero.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}

header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: auto;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-bar .bar-name {
  height: 32px;
  width: 192px;
  margin: 35px 0 35px 35px;
  background-image: url(../images/logo.svg);
}

header .nav-bar .burguer {
  margin: 35px 35px 35px 0;
  cursor: pointer;
}

header .nav-bar .burguer span {
  height: 2px;
  width: 25px;
  background-color: white;
  display: block;
  margin-bottom: 5px;
}

header .nav-box {
  width: 320px;
  height: 200px;
  margin: 155px auto;
  border: 2px solid white;
}

header .nav-box h1 {
  color: white;
  margin: 0;
  padding: 20px;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  font-family: "Josefin Sans";
}

main .interactive-section .interactive {
  height: 225px;
  width: 325px;
  margin: 360px auto 40px auto;
  background-image: url(../images/mobile/image-interactive.jpg);
  -o-object-fit: cover;
     object-fit: cover;
}

main .interactive-section h2 {
  margin: auto;
  font-size: 2rem;
  font-weight: 300;
  font-family: "Josefin Sans";
  line-height: 2rem;
  text-align: center;
}

main .interactive-section p {
  margin: auto 60px;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Alata";
  line-height: 1.8rem;
  text-align: center;
  color: #8c8c8c;
}

main .creations-section h2 {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Josefin Sans";
  margin: 90px auto 40px auto;
  text-align: center;
}

main .creations-section .our-creations .img-container {
  position: relative;
  height: 120px;
  width: 327px;
  margin: 30px auto;
  cursor: pointer;
  -webkit-box-shadow: inset 40px 0px 50px -5px black;
          box-shadow: inset 40px 0px 50px -5px black;
}

main .creations-section .our-creations .img-container img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -2;
}

main .creations-section .our-creations .img-container .middle {
  position: absolute;
  top: 67%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: start;
}

main .creations-section .our-creations .img-container .middle .img-text {
  font-size: 1.5rem;
  font-family: "Josefin Sans";
  font-weight: 300;
  line-height: 1.5rem;
  color: white;
  width: 130px;
  padding: 40px 20px;
}

main .creations-section .our-creations .img-container:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .creations-section .our-creations .img-container:hover img {
  opacity: 0.3;
}

main .creations-section .our-creations .img-container:hover .middle {
  opacity: 1;
}

main .creations-section .our-creations .img-container:hover .middle .img-text {
  color: black;
}

main .creations-section button {
  width: 190px;
  height: 50px;
  border: 1px solid black;
  margin: 10px calc(50% - 100px);
  font-size: 1rem;
  font-family: "Alata";
  font-weight: 200;
  letter-spacing: .5rem;
  cursor: pointer;
}

main .creations-section button:hover {
  background-color: black;
  color: white;
}

footer {
  height: 450px;
  background-color: black;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer-logo {
  height: 32px;
  width: 192px;
  background-image: url(../images/logo.svg);
}

footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-links span {
  font-size: 1rem;
  font-family: "Alata";
  color: white;
  margin: 10px;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

footer .social .facebook {
  height: 24px;
  width: 24px;
  margin: 0 10px;
  background-image: url(../images/icon-facebook.svg);
}

footer .social .twitter {
  height: 20px;
  width: 24px;
  margin: 0 10px;
  background-image: url(../images/icon-twitter.svg);
}

footer .social .pinterest {
  height: 24px;
  width: 24px;
  margin: 0 10px;
  background-image: url(../images/icon-pinterest.svg);
}

footer .social .instagram {
  height: 24px;
  width: 24px;
  margin: 0 10px;
  background-image: url(../images/icon-instagram.svg);
}

footer .rights {
  max-width: 100%;
  margin: 20px calc(50% - 180px);
  color: #8c8c8c;
  font-size: 1rem;
  font-family: "Alata";
  text-align: center;
}
/*# sourceMappingURL=style.css.map */