$colors: ( 
    white: hsl(0, 0%, 100%),
    black: hsl(0, 0%, 0%),
    dark-gray: hsl(0, 0%, 55%),
    very-dark-gray: hsl(0, 0%, 41%)
);

$titles-font: 'Josefin Sans';
$texts-font: 'Alata';


@function color($color-name) {
    @return map-get($colors , $color-name )
};

body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

header {
    .mobile-menu {
        display: none;
        position: absolute;
        z-index: -1;
        background-color: color(black);
        height: 100vh;
        width: 100%;
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            .logo {
                height: 32px;
                width: 192px;
                margin: 35px 0 35px 35px;
                background-image: url(../images/logores2.png);
            }
            .close-btn {
                height: 20px;
                width: 20px;
                margin: 35px 35px 35px 0;
                background-image: url(../images/icon-close.svg);
                cursor: pointer;
            }
        }
        .mobile-links {
            display: none;
            height: 100%;
            width: 100%;
            margin-top: 50%;
    
             li {
                margin-top: 20px; 
    
                 a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: color(white);
                    font-size: 1.5rem;    
                    font-family: $titles-font;          
                }
                a:hover {
                    color: color(dark-gray);
                }
            }
        }
    }
    .hero {   
        height: 730px;
        width: 100%;
        min-width: 320px;
        background-image: url(../images/mobile/image-hero.jpg);
        object-fit: cover;
        position: absolute;
        z-index: -1;        
    }
        
    .nav-bar {
        display: flex;
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        
        .bar-name {
            height: 32px;
            width: 192px;
            margin: 35px 0 35px 35px;
            background-image: url(../images/logo.svg);
        }
        .burguer {
            margin: 35px 35px 35px 0;
            cursor: pointer;
            span {
                height: 2px;
                width: 25px;
                background-color: color(white);
                display: block;
                margin-bottom: 5px;
            }
        }
    }
    .nav-box {
        width: 320px;
        height: 200px;
        margin: 155px auto;
        border: 2px solid color(white);

        h1 {
            color: color(white);
            margin: 0;
            padding: 20px;
            font-size: 2.5rem;
            line-height: 2.5rem;
            font-weight: 300;
            font-family: $titles-font;
        }
    }
}

main {
    .interactive-section {
        .interactive {
            height: 225px;
            width: 325px;
            margin: 360px auto 40px auto;
            background-image: url(../images/mobile/image-interactive.jpg);
            object-fit: cover;
        }
        h2 {
            margin: auto;
            font-size: 2rem;
            font-weight: 300;
            font-family: $titles-font;
            line-height: 2rem;
            text-align: center;
        }
        p {
            margin: auto 60px;
            font-size: 1rem;
            font-weight: 400;
            font-family: $texts-font;
            line-height: 1.8rem;
            text-align: center;
            color: color(dark-gray);
        }

    }
    .creations-section {
        h2 {
            font-size: 2rem;
            font-weight: 300;
            font-family: $titles-font;
            margin: 90px auto 40px auto;
            text-align: center;
        }
        .our-creations {
            .img-container {
                    position: relative;
                    height: 120px;
                    width: 327px;
                    margin: 30px auto;
                    cursor: pointer;
                    box-shadow: inset 40px 0px 50px -5px color(black);
                    img {
                        opacity: 1;
                        display: block;
                        width: 100%;
                        height: auto;
                        position: absolute;
                        z-index: -2;
                    }
                    
                    .middle {
                        position: absolute;
                        top: 67%;
                        left: 25%;
                        transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        text-align: start;
                        
                        .img-text {
                            font-size: 1.5rem;
                            font-family: $titles-font;
                            font-weight: 300;
                            line-height: 1.5rem;
                            color: color(white);
                            width: 130px;
                            padding: 40px 20px;
                        }
                    }
    
    
            }
            .img-container:hover {
                box-shadow: none;
                img {
                    opacity: 0.3;
                }
                .middle {
                    opacity: 1;
                    .img-text {
                        color: black;
                    }
                }
            }
        }
        button {
            width: 190px;
            height: 50px;
            border: 1px solid color(black);
            margin: 10px calc(50% - 100px);
            font-size: 1rem;
            font-family: $texts-font;
            font-weight: 200;
            letter-spacing: .5rem;
            cursor: pointer;

        }
        button:hover {
            background-color: color(black);
            color: color(white);
        }
    }
}

footer {
    height: 450px;
    background-color: color(black);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .footer-logo {
        height: 32px;
        width: 192px;
        background-image: url(../images/logo.svg);
    }
    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            font-size: 1rem;
            font-family: $texts-font;
            color: color(white);
            margin: 10px;
        }
    }
    .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        .facebook {
            height: 24px;
            width: 24px;
            margin: 0 10px;
            background-image: url(../images/icon-facebook.svg);
        }
        .twitter {
            height: 20px;
            width: 24px;
            margin: 0 10px;
            background-image: url(../images/icon-twitter.svg);
        }
        .pinterest {
            height: 24px;
            width: 24px;
            margin: 0 10px;
            background-image: url(../images/icon-pinterest.svg)
        }
        .instagram {
            height: 24px;
            width: 24px;
            margin: 0 10px;
            background-image: url(../images/icon-instagram.svg);
        }
    }
    .rights {
       max-width: 100%;
       margin: 20px calc(50% - 180px);
       color: color(dark-gray);
       font-size: 1rem;
       font-family: $texts-font;
       text-align: center;
    }
}